ul{
  display: flex;
  list-style: none;
 }
a{
  text-decoration: none;
  color:chartreuse;
  border-radius: 10%;
  font-size: medium; 
}

#x{
  color: white;
  font-weight: bold;
}

#f{
  text-align: center;
  color: red;
  
}
